@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(230, 230, 230);
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px 10% 20px 10%;
}

header > p{
  padding-top: 10px;
}

main.principal {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  width: 100%;
  padding: 20px 10%;
}

div.formularios {
  display: flex;
  flex-direction: row;
}

section#camisa {
  width: 20%;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.274);
}

div.qtd_total {
  padding: 0px 10px 20px 10px;
  margin-left: 10px;
  width: 15%;
  height: min-content;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.274);
}

form.dados {
  width: 65%;
}

div.imagem {
  padding: 20px 20px 10px 20px;
}

.title2 {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  font-size: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

img {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.274);
}

div.produto {
  padding: 0px 20px 0px 20px;
}

dl {
  line-height: 25px;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 10px;
}

fieldset {
  width: 100%;
  border: none;
}

legend {
  font-size: 26px;
}

div.field_dados,
div.field_cartao {
  padding: 10px 10px;
  width: 100%;
}

div.validade {
  padding-top: 2px;
}

div.cartaocvv {
  display: flex;
  justify-content: space-between;
  width: 100%
}

div.cartao_numero {
  width: 65%
}

div.cartao_cvv {
  width: 30%;
}

div.dados_pessoais {
  width: 50%
}

div.cartao {
  width: 50%
}

div.input-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 7.5px;
}

div.input-form input, div.input-form select {
  margin: 5px 0 0 0;
  border-radius: 0.25rem;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

div.input-form select {
  background: rgb(255, 255, 255) url(../img/seta.svg) no-repeat right 0.75rem center;
  background-size: 8px 10px;
}

div.input-form input[type=month] {
  height: 36px;
}

div.checkit {
  padding-left: 10px;
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

/* Esconder o checkbox padrão */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Criar o checkbox customizado */
.checkmark {
  position: absolute;
  top: 1.5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 2px;
}

/* Adicionar uma cor de fundo cinza ao passar o mouse */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* Quando o checkbox é clicado, adicionar um fundo rosa */
.container input:checked ~ .checkmark {
  background-color: #0B5ED7;
}

/* Criar o ícone de check, escondido quando não estiver selecionado */
.container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 2px;
  width: 5px;
  height: 5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Exibir o ícone quando selecionado */
.container input:checked ~ .checkmark:after {
  display: block;
}

option {
  font-size: 16px;
}

button {
  margin-left: 10px !important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
  border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin: 5px 0px 0px 10px;
}

button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

button:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}
button:active {
  color: #fff;
  background-color: #003b94;
  border-color: #002d70;
}
input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0 0 5px #86b7fe;
  outline: 0 none;
}

@media only screen and (max-width: 992px) {
  div.formularios {
    display: flex;
    flex-direction: column;
  }
  section#camisa {
    width: 35%;
  }
  form.dados {
    width: 65%;
  }

  div.dados_pessoais {
    width: 100%
  }

  div.cartao {
    width: 100%
  }

  div.field.dados,
  div.field_cartao {
    padding: 5px 10px;
    width: 100%;
  }
  .title2{
    padding: 15px 15px 15px 20px;
    font-size: 25px;
  }
  fieldset {
    line-height: 18px;
    padding-top: 5px;
    width: 100%;
  }
  .checkmark {
    top: 1px;
  }
}

@media only screen and (max-width: 615px) {
  header {
    padding: 20px;
  }

  h1 {
    font-size: 40px;
  }

  header > p {
    font-size: 21px;
  }

  div.formularios {
    line-height: 25px;
    width: 100%;
  }
  main.principal {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
  }
  .title2 {
    padding: 20px;
    font-size: 26px;
  }
  section#camisa {
    width: 100%;
  }

  div.qtd_total {
    margin-top: 20px;
    margin-left: 0px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(128, 128, 128, 0.274);
  }

  div.field_dados,
  div.field_cartao {
    padding: 0px 0px;
    margin-left: 0px;
    width: 100%;
  }
  form.dados {
    width: 100%;
  }
  fieldset {
    padding-top: 5px;
    line-height: 18px;
    width: 100%;
  }

  .checkmark {
    top: 5px;
  }

  button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px !important;
  }
  legend:not(legend.cartaotop) {
    font-size: 26px;
    padding-top: 25px;
  }
  legend.cartaotop {
    padding-top: 10px;
  }
}
