@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(230, 230, 230);
}

header {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px 10% 20px 10%;
}

header > p {
  padding-top: 10px;
}

main.principal {
  display: flex;
  flex-direction: row;
  background-color: white;
  justify-content: center;
  width: 100%;
  padding: 20px 10%;
}

div.formularios {
  display: flex;
  flex-direction: row;
}

section#camisa {
  width: 20%;
  border-radius: 3px;
  border: 1px solid rgba(128, 128, 128, 0.274);
}

section.dados {
  width: 80%;
}

div.imagem {
  padding: 20px 20px 10px 20px;
}

.title2 {
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  font-size: 20px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.274);
}

img {
  display: flex;
  width: 100%;
  height: auto;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  border: 1px solid rgba(128, 128, 128, 0.274);
}

div.produto {
  padding: 0px 20px 0px 20px;
}

dl {
  line-height: 25px;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 10px;
}

fieldset {
  width: 100%;
  border: none;
}

legend {
  font-size: 26px;
  padding: 0px 0px 15px 5px;
}

form.dados_pessoais,
form.cartao {
  padding: 0px 10px;
  width: 50%;
}

div.cartaocvv {
  display: flex;
  flex-wrap: wrap;
}

div.cartao_numero {
  margin-bottom: 1rem !important;
  flex: 0 0 70%;
  max-width: 70%;
  padding-right: 10px;
}

div.cartao_cvv {
  flex: 0 0 auto;
  width: 30%;
}

input:not(input#checkit) {
  margin: 5px;
  border: 1px solid;
  border-radius: 3px;
  width: 100%;
  /*alterar depois*/
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

select.seta {
  font-size: 16px;
  margin: 5px;
  width: 100% !important;
  display: block !important;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  line-height: 1.5;
  color: #495057;
  background: rgb(255, 255, 255) url(../img/seta.svg) no-repeat right 0.75rem
    center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  appearance: none;
}

option {
  font-size: 16px;
}

label {
  padding-left: 10px !important;
}

div.check {
  display: block;
  margin-top: -5px;
  margin-bottom: 15px;
  padding-left: 0px;
  border-radius: 0.25em;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
}

span.checkmark {
  position: absolute;
  top: 1px;
  left: 10px;
  height: 16px;
  width: 15px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(179, 179, 179);
  border-radius: 4px;
}

.container:hover input ~ .checkmark {
  background-color: rgb(159, 186, 236);
}

.container input:checked ~ .checkmark {
  background-color: #0d6efd;
  background-image: url(../img/checked.svg);
}

button {
  margin-left: 15px !important;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
  margin: 5px 0px 0px 10px;
}

button:hover {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

button:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
}

button:active {
  color: #fff;
  background-color: #003b94;
  border-color: #002d70;
}

input:focus {
  border-color: #86b7fe;
  box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.075) inset, 0 0 5px #86b7fe;
  outline: 0 none;
}

@media only screen and (max-width: 992px) {
  div.formularios {
    display: flex;
    flex-direction: column;
  }
  section#camisa {
    width: 35%;
  }
  section.dados {
    width: 65%;
  }

  label {
    padding-left: 10px !important;
  }

  form.dados_pessoais,
  form.cartao {
    padding: 5px 10px;
    width: 100%;
  }
  .title2 {
    padding: 15px 15px 15px 20px;
    font-size: 25px;
  }
  fieldset {
    line-height: 18px;
    padding-top: 5px;
    width: 100%;
  }
  span.checkmark {
    top: -1px;
    left: 9px;
    height: 18px;
    width: 18px;
  }
}

@media only screen and (max-width: 615px) {
  header {
    padding: 20px;
  }

  h1 {
    font-size: 40px;
  }

  header > p {
    font-size: 21px;
  }

  div.formularios {
    line-height: 25px;
    width: 100%;
  }
  main.principal {
    display: flex;
    flex-direction: column;
    padding: 30px 20px 20px 20px;
  }
  .title2 {
    padding: 20px;
    font-size: 26px;
  }
  section#camisa {
    width: 100%;
  }
  form.dados_pessoais,
  form.cartao {
    padding: 0px 0px;
    margin-left: -5px;
    width: 100%;
  }
  section.dados {
    width: 100%;
  }
  fieldset {
    padding-top: 5px;
    line-height: 18px;
    width: 100%;
  }
  label:not(label.container) {
    padding-left: 5px !important;
  }
  button {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 0px !important;
  }
  legend:not(legend.cartaotop) {
    font-size: 26px;
    padding: 25px 0px 15px 5px;
  }
  legend.cartaotop {
    padding-top: 10px;
  }
  span.checkmark {
    top: 1px;
    left: 9px;
    height: 18px;
    width: 18px;
  }
}
